.DS_Store

*.sln
*.userprefs
*.pidb
*.booproj
*.csproj
*.unityproj
Thumbs.db

Main/Build/
Main/Temp/

Main/Library/AnnotationManager
Main/Library/assetDatabase3
Main/Library/AssetImportState
Main/Library/AssetServerCacheV3
Main/Library/AssetVersioning.db
Main/Library/BuildPlayer.prefs
Main/Library/BuildSettings.prefs
Main/Library/cache
Main/Library/EditorUserBuildSettings.asset
Main/Library/EditorUserSettings.asset
Main/Library/expandedItems
Main/Library/FailedAssetImports.txt
Main/Library/guidmapper
Main/Library/InspectorExpandedItems.asset
Main/Library/metadata
Main/Library/MonoManager.asset
Main/Library/previews
Main/Library/ScriptAssemblies
Main/Library/ScriptMapper

