.DS_Store

*.sln
*.userprefs
*.pidb
*.booproj
*.csproj
*.unityproj

Build/
Temp/

Library/AnnotationManager
Library/assetDatabase3
Library/AssetImportState
Library/AssetServerCacheV3
Library/AssetVersioning.db
Library/BuildPlayer.prefs
Library/BuildSettings.prefs
Library/cache
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/expandedItems
Library/FailedAssetImports.txt
Library/guidmapper
Library/InspectorExpandedItems.asset
Library/metadata
Library/MonoManager.asset
Library/previews
Library/ScriptAssemblies
Library/ScriptMapper

